<div class="container">
  <div class="panel">
    <div class="panel-header">Points</div>
    <div class="panel-list">
      @for (city of cities; track city.id) {
        <div
          class="panel-item"
          [class.selected]="city.id === selectedId"
          (click)="onCityClick(city)"
        >
          <span class="city-name">{{ city.name }}</span>
          <span class="city-coords">{{ city.lat.toFixed(2) }}, {{ city.lng.toFixed(2) }}</span>
        </div>
      }
    </div>
  </div>

  <mff-map-host class="map" [config]="mapConfig" (ready)="onReady($event)"></mff-map-host>
</div>
